=form_for(@review, url: reviews_url(format: 'json')) do |f|
  .input
    %label Title
    = f.text_field :title
  .input
    %label Review
    %br
    = f.text_area :body

  =f.hidden_field :user_identifier, value: params[:user_id]
  =f.hidden_field :reviewable_object_id

  .actions
    = f.submit
#thanks.hidden
  Thanks for your review!