<%= form_for(@reviewable_object) do |f| %>
  <% if @reviewable_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reviewable_object.errors.count, "error") %> prohibited this reviewable_object from being saved:</h2>

      <ul>
      <% @reviewable_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
